{% extends "layouts/skeleton.html" %}
{% block body %}

    <div class="jumbotron">
        <h1>Welcome !</h1>
        <p>Here are current raspberries :</p>
    </div>

    <div class="row">
        {% for n in raspberries %}
            <div class="col-md-5">
                <h2>About raspberry {{ raspberries[n]['name'] }}</h2>
                <p>This raspberry is {{ raspberries[n]['state'] }} and its heat is {{ raspberries[n]['heat'] }}.</p>
                <p>This raspberry is running on {{ raspberries[n]['os'] }}</p>
                <a class="btn btn-secondary" href="#" role="button">
                    View details ...
                </a>
            </div>
        {% endfor %}
    </div>

    <div>
        <p id="welcome"></p>
    </div>

{% endblock %}