{% extends "layouts/skeleton.html" %}
{% block body %}

    <div class="jumbotron">
        <h1>Grape Cluster Configuration Overview</h1>
    </div>

    <div class="row">
        {% for stackI in stacks %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h2 style="float:left;" class="card-title">Stack #{{ stackI }}</h2>
                        <span style="float:right;" class="btn {{ 'btn-success' if (stacks[stackI]['heat']<75) else 'btn-danger' }}">{{ stacks[stackI].heat }}°C</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="font-weight:bold;">
                            Master Slot : 

                            {% if stacks[stackI].master != -1 %}
                                <a href="rasp/{{ rasps[stacks[stackI].master].address }}" class="card-link">{{ rasps[stacks[stackI].master].name }} ({{ rasps[stacks[stackI].master].address }})</a>
                            {% else %}
                                ---
                            {% endif %}
                        </li>
                        {% for raspAddr in stacks[stackI].slaves %}
                            <li class="list-group-item">
                                Slot #{{ loop.index }} : 
                                {% if raspAddr != -1 %}
                                    <a href="rasp/{{ raspAddr }}" class="card-link">{{ rasps[raspAddr].name }} ({{ raspAddr }})</a>
                                {% else %}
                                    ---
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <p id="welcome"></p>
    </div>

    <script src="/static/javascript/index.js"></script>

{% endblock %}