{% extends "layouts/skeleton.html" %}
{% block body %}

    <div class="jumbotron">
        <h1>Raspberry <span class="raspName"></span> Configuration</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="/">Home</a>
          <a class="breadcrumb-item stackLink" href="#">Stack #<span class="raspStack"></span></a>
          <span class="breadcrumb-item active">Rasp <span class="raspName"></span></span>
        </nav>
      </div>
    	<div class="col-md-12">
    		<div class="card">
    			<ul class="list-group list-group-flush">
    				<li class="list-group-item">
   						Name : <span class="raspName"></span>
   					</li>
            <li class="list-group-item">
              I2C Address : {{ raspId }}
            </li>
            <li class="list-group-item">
              SSH : <input type="text" id="raspSSH" class="form-control" style="width:inherit;" readOnly />
            </li>
            <li class="list-group-item">
              Stack : <a class="stackLink" href="#">Stack #<span class="raspStack"></span></a>
            </li>
   					<li class="list-group-item">
				    	Status :
              <div class="btn-group" style="float:right;" role="group">
                <div id="raspRestart" class="btn btn-secondary raspRestartBtn" raspId="{{ raspId }}" style="cursor:pointer;">Restart</div>
                <div id="raspStatus" class="btn raspStatusBtn" raspId="{{ raspId }}" style="cursor:pointer;">Off</div>
              </div>
   					</li>
				    <li class="list-group-item">
				    	Operating System : <span id="raspOS"></span>
   					</li>
				    <li class="list-group-item">
				   		IP Address : <span id="raspIP"></span>
   					</li>
            <li class="list-group-item">
				   		CPU Usage : <span id="raspCPU" class="btn statusBtn"></span>
   					</li>
            <li class="list-group-item">
				   		RAM Usage : <span id="raspRAM" class="btn statusBtn"></span>
   					</li>
   				</ul>
            </div>
        </div>
    </div>


    <script>
    CONSTANTS = {{ constants|tojson|safe }};
    RASPID = {{ raspId }};
    </script>

    <script src="/static/javascript/common.js"></script>
    <script src="/static/javascript/rasp.js"></script>

{% endblock %}
